:root {
    --gradient: linear-gradient(180deg,
            rgba(45, 112, 1253, 0.73) 0%,
            #163e92 100%);
    --dark: #001747;
    --grey: #b1bacb;
    --grey-border: rgba(210, 210, 210, 0.75);
    --grey-light: #eeeeee;
    --grey-dark: $405175;
    --blue: #2d70fd;
    --dark-blue: #274a97;
    --green: #00d8a7;
    --white: #ffffff;
    --red: #DC143C;
}

body {
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    margin-top: 15px;
}

.profile {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    align-items: start;
    flex-direction: row;
    margin-bottom: 15px;
}

.profileName {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    line-height: 1.5rem;
}

.time {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    color: var(--white);
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0.3rem;
    background-color: var(--blue);
    border: none;
    cursor: pointer;
    right: 0.5rem;
    bottom: 0.5rem;
}

.btn:hover {
    background-color: var(--dark-blue);
}

.btn-remove {
    color: var(--white);
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0.3rem;
    background-color: var(--red);
    border: none;
    cursor: pointer;
    right: 0.5rem;
    bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Todo Container */

.card {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    border-radius: 2rem;
    background: var(--white);
    padding: 1rem;
    height: auto;
    width: 80%;
    box-shadow: 0 1rem 3rem 1rem rgba(0, 23, 71, 0.15);
    max-width: 30rem;
}

h2 {
    text-transform: uppercase;
    height: 3rem;
    color: var(--dark);
    text-align: center;
}

td {}

.input {
    display: flex;
    flex-direction: column;
}

.input-label {
    display: flex;
    color: var(--dark);
    font-size: 1rem;
    margin-bottom: 0.5rem;
    width: 10em;
    /* justify-content: center; */
    align-items: center;
}

.inputTask {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.input-field {
    width: 90%;
    border: 0.06rem solid #d2d2d2bf;
    border-radius: 0.5rem;
    padding: 1.25rem;
    font-size: 1rem;
}

.input-field2 {
    width: 100%;
    border: 0.06rem solid #d2d2d2bf;
    border-radius: 0.5rem;
    padding: 1.25rem;
    font-size: 1rem;
}

input[type="text"]::placeholder {
    color: var(--grey);
}

.todo-container {
    display: flex;
    gap: 1rem;
}

.disabled {
    display: flex;
    text-decoration: line-through;
}

#todo-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 0.5rem;
    text-align: center;
    line-height: 1.5rem;
    /* overflow: hidden; */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.removeDone {
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    color: var(--grey);
    background: transparent;
    margin-left: 0.5rem;
}

.removeOverdue {
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    color: #721c24;
    background: transparent;
    margin-left: 0.5rem;
}

.taskDone {
    margin-top: 20px;
}

.TaskOverdue {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

li.done {
    text-decoration: line-through;
    color: #6c757d;
}

li.overdue {
    color: #721c24;
}